<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="https://tmaxos.com/#!/product-introduce/proZone">
    <img alt="mountains" src="{{ "/assets/img/CMDB.png" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="contents">
    <h3> CMDB </h3>
    <ul>
      <li> <b> Goals </b> (1)Manage all resources and relationships. (2)Provide data for the topology as a service (3)Provides relational data for determining rootcause.</li>
      <li> <b> Responsibility  </b> (1)Server development(api server) (2)Schema design.</li>
      <li> <b> Skills </b> (1)Java (2)SQL
    </ul>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="https://tmaxos.com/#!/product-introduce/proVdi">
    <img alt="provdi" src="{{ "/assets/img/ProVDI.png" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="contents-right">
    <h3> ProVDI </h3>
    <ul>
      <li> <b> Goals </b> (1)Provide various OS environment through Cloud instance (2)Supports the functions that users use in Desktop (3)Provides user session management and administrator control.</li>
      <li> <b> Responsibility  </b> (1)Server development(ProVDI Master) (2)Provide OS Cloud Image (3)develop environment management.</li>
      <li> <b> Skills </b> (1)Java (2)SQL (3)cloud-init
    </ul>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="https://tmaxos.com/#!/product-introduce/proZone">
    <img alt="prozone" src="{{ "/assets/img/Prozone.png" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="contents">
    <h3> VM Provider </h3>
    <ul>
      <li> <b> Goals </b> (1)Provide VM Instance through IaaS Resource. (2)Respond to faults through DR. (3)Monitor VM through Agent and control VM basic operation.</li>
      <li> <b> Responsibility  </b> (1)Server development(VM Provider) (2)VM Agent development.</li>
      <li> <b> Skills </b> (1)Java (2)SQL (3)libvirt
    </ul>
  </div>  
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="https://kubevirt.io">
    <img alt="provdi" src="{{ "/assets/img/kubevirt.PNG" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="contents-right">
    <h3> Hypercloud-Kubevirt </h3>
    <ul>
      <li> <b> Goals </b> (1)Provide various OS environment through VM instance on Kubernetes (2)Supports the functions that users use 
      <li> <b> Responsibility  </b> (1)Server development(ProVDI Master) (2)Provide OS Cloud Image (3)develop environment management.</li>
      <li> <b> Skills </b> (1)Go (2)kubernetes (3)cloud-init (4)KVM (5)libvirt
    </ul>
  </div>
</div>
